Middleware/XML/Schemas/application.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<xs:complexType name="applicationType">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="id" type="xs:int" minOccurs="0"/>
					<xs:element name="creation_dt" type="xs:string" minOccurs="0"/>
				</xs:sequence>
	</xs:complexType>

	<xs:complexType name="somiod">
		<xs:sequence>
			<xs:element name="application" type="applicationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="somiod" type="somiod"/>
</xs:schema>
