Middleware/XML/Schema/data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="dataType">
			<xs:sequence>
				<xs:element name="id" type="xs:int" minOccurs="0"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="content" type="xs:string"/>
				<xs:element name="parent" minOccurs="0"/>
			</xs:sequence>
    </xs:complexType>

    <xs:complexType name="somiod">
        <xs:sequence>
            <xs:element name="data" type="dataType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="somiod" type="somiod"/>
</xs:schema>